<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="latexSample" method="post">
        {%csrf_token%}
        <div>
             <label for="">Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>No of Section</label>
            <input type="text" id="noSecTxt">
            <input type="button" value="create" onclick="addTextBox()">
        </div>
        <div id="txtdiv">

        </div>

        <input type="submit">
    </form>

    <script>
        function addTextBox()
        {
            var n = document.getElementById("noSecTxt").value;
            /*var txt = document.createElement("input");
            txt.type = "text";
            txt.id = "txt"+1
            var txtdiv = document.getElementById("txtdiv")
            txtdiv.appendChild(txt)*/
            for(let i=0;i<n;i++)
            {
                // Creating Div for New Section
                var newDiv = document.createElement("div");

                // Creating title Text Box
                var titletxt = document.createElement("input");
                titletxt.type = "text";
                titletxt.name = "titletxt"+i

                // Creating TextArea for Content
                var txtarea = document.createElement("textarea");
                txtarea.type = "textarea";
                txtarea.name = "txtarea" +i
                txtarea.setAttribute("title","A")

                var txtdiv = document.getElementById("txtdiv")
                newDiv.appendChild(titletxt);
                newDiv.appendChild(txtarea);
                txtdiv.appendChild(newDiv);

            }
        }
    </script>
</body>
</html>