<!DOCTYPE html>
<html--->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
{% extends "base.html"%}
{% block content%}

	<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
		<div class="row">
			<div class="col-md-12">
				<!-- Form with Input in Center -->
				<form action="register" method="post" class="text-center border border-secondary rounded p-4">
				{% csrf_token %}
			 		<div>
						<label class="form-label">Email</label>
						<input type="text" name="email" required class="form-control">
					</div>

					<!--UserName Commented-->
					<!--<div>
						<label>Username</label>
						<input type="text" name="username">
					</div>-->

					<div>
						<label class="form-label">Password</label>
						<input type="password" name="password" required class="form-control">
					</div>

					<!--Confirm password commented-->
					<!--<div>
						<label>Confirm password</label>
						<input type="password" name="password2">
					</div>-->

					<!--{{ form }}-->
					<div class="mb-1"></div>
					<input type="submit" class="btn btn-primary mx-auto">

				</form>


			</div>
		</div>
	</div>
	<p>Register</p>
	<form action="register" method="post">
		{% csrf_token %}
		 <div>
			<label>email</label>
			<input type="text" name="email">
		</div>

		<!--UserName Commented-->
		<!--<div>
			<label>Username</label>
			<input type="text" name="username">
		</div>-->

		<div>
			<label>Password</label>
			<input type="password" name="password">
		</div>

		<!--Confirm password commented-->
		<!--<div>
			<label>Confirm password</label>
			<input type="password" name="password2">
		</div>-->

		<!--{{ form }}-->
		<input type="submit">
		
	</form>
	<a href="login">Login</a>
{% endblock%}
</body>
</html--->